{% extends 'layouts/main.html' %} {% block title %}Fyyur | Artists{% endblock %} {% block content %}

<div class="flex-center">
  <h1>Artists</h1>
  <a href="{{url_for('create_artist')}}">Post an Artist</a>
</div>

<ul class="items">
  {% for artist in artists %}
  <li>
    <a href="/artists/{{ artist.id }}">
      <div class="img" style="background-image: url({{artist.image_link}});"></div>
      <div class="item">
        <h4>{{ artist.name }}</h4>
        <small>{{artist.genres_list|join(', ')}}</small>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
