{% extends 'layouts/main.html' %} {% block title %}Fyyur | Venues{% endblock %} {% block content %}

<div class="flex-center">
  <h1>Venues</h1>
  <a href="{{url_for('create_venue')}}">Post a Venue</a>
</div>

<div class="venues-list">
  {% for area in areas %}
  <h5 class="listHeading">{{ area.city }}, {{ area.state }}</h5>
  <ul class="items">
    {% for venue in area.venues %}
    <li>
      <a href="/venues/{{ venue.id }}">
        <div class="img" style="background-image: url({{venue.image_link}});"></div>
        <div class="item">
          <h4>{{ venue.name }}</h4>
          <small>{{venue.genres_list|join(', ')}}</small>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock %}
